{
  "swaps" : [
    {
      "b71d39" : "3a3939", "feffff" : "d7d2be", "ebebeb" : "c1baa3",
      "c2c2c2" : "ada68e", "7a7a7a" : "7b7661"
    },
    {
      "b71d39" : "3a3939", "feffff" : "d7d2be", "ebebeb" : "c1baa3",
      "c2c2c2" : "ada68e", "7a7a7a" : "7b7661"
    },
    {
      "3a3939" : "b71d39", "d7d2be" : "feffff", "c1baa3" : "ebebeb",
      "ada68e" : "c2c2c2", "7b7661" : "7a7a7a"
    }
  ]
}
